@charset "utf-8";


body {
    background: url("../img/bg.svg") repeat-x scroll 0 0 ;
    background-size: 10px;
}



a:hover img {
opacity: 0.7;
}

a img {
transition: opacity 0.5s ease-out;
}

a:link {
	color:#000;
    text-decoration: underline;
}
a:focus {
   outline: none;
} 
a:visited {
	color: #000;
}
a:hover {
	color: #a7a7a7;
}
.aka {
    color: #ff0000;
}
.ao {
    color: #53c5bc;
}


/*==================================================
共通　横並びのための設定
===================================*/

.gnavi{
    display: flex;
    flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
    margin:0 0 0 0;
    list-style: none;

}

.gnavi li a{
    display: block;
    padding:10px 30px;
    text-decoration: none;
    color: #333;
}

.gnavi li{
    margin-bottom:0px;
}

/*==================================================
　5-3-3 左から右に線が伸びる（下部）
===================================*/
.gnavi li a{
    /*線の基点とするためrelativeを指定*/
	position: relative;
}

.gnavi li.current a,
.gnavi li a:hover{
	color:#818181;
}

.gnavi li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 2px;
    background:#cde7e5;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: left top;/*左上基点*/
}

/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}


/* 
hamburger(ハンバーガーアイコン)
=================================== */
.hamburger {
  position: fixed;
  right: 30px;
  top: 30px;
  width: 40px;
  height: 30px;
  cursor: pointer;
  z-index: 300;
}

.hamburger__line {
  position: absolute;
  width: 40px;
  height: 1px;
  right: 0;
  background-color: #000;
  transition: all 0.5s;
}

.hamburger__line--1 {
  top: 1px;
}

.hamburger__line--2 {
  top: 14px;
}

.hamburger__line--3 {
  top: 28px;
}

/*ハンバーガーがクリックされたら*/
.open .hamburger__line--1 {
  transform: rotate(-45deg);
  top: 11px;
}

.open .hamburger__line--2 {
  opacity: 0;
}

.open .hamburger__line--3 {
  transform: rotate(45deg);
  top: 11px;
}

/* 
sp-nav(ナビ)
=================================== */
.sp-nav {
  position: fixed;
  right: -100%; /*ハンバーガーがクリックされる前はWindow右側に隠す*/
  top: 0;
  width: 100%; /* 出てくるスライドメニューの幅 */
  height: 100vh;
	background-color: rgb(255, 255, 255, 0.9);
  transition: all 0.3s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
  text-align: center;
  padding-top: 5rem;
}
.sp-nav li {
    margin-bottom: 1rem;

}
.sp-nav li a {
    text-decoration: none;
}

/*ハンバーガーがクリックされたら右からスライド*/
.open .sp-nav {
  right: 0;
}


/* 
black-bg(ハンバーガーメニュー解除用bg)
=================================== */
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  cursor: pointer;

}

/*ハンバーガーメニューが開いたら表示*/
.open .black-bg {
  opacity: 0.3;
  visibility: visible;
}






header {
    padding-top: 1.2rem;

}

main {
    margin-bottom: 3rem;
}


.news {
	background-color:#fff;
}
.news_in {
	padding:10px;
    border-top: 2px dotted #fdd200;
    border-bottom: 2px  dotted #fdd200;
	height: 300px;
	overflow: auto;
}

.news li {
	border-bottom:1px solid #dbdbdb;
	padding:0 0 5px 0;
	margin:0 0 8px 0;
	line-height:170%;
}

h2 {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
color: #191970;

  text-underline-offset: 10px;
  text-decoration-thickness: 1px;
  font-weight: bold;
}


footer {
    background-color: #cde7e5;
    height: 300px;
    text-align: center;
    padding-top: 2rem;
}



/** 開催概要 **/

.tablecolor table {
	border:4px solid #cde7e5;
}

.tablecolor table th {
	background-color:#fffeee;
	border:1px solid #cde7e5;
	text-align: center;
	vertical-align: middle;

}
.table.text-nowrap.small tr .title {
	background-color: #cde7e5;
	color: #000;
}
.tablecolor table td {
	border:1px solid #cde7e5;
	text-align: left;
	vertical-align: middle;
}

caption {
color: #000;
caption-side: top;
font-size: 1rem;
padding-bottom: 0.1rem;
padding-top: 0;
}
/** 開催概要 end **/


/** 規約 **/
.kiyaku {
    border: 1px #cde7e5 solid;
    padding: 10px;
}
@media (min-width: 768px) {
.kiyaku {
    border: 1px #cde7e5 solid;
    padding: 30px;
}
}
.kiyaku01 {
    background-color: #ccc;
    padding: 3px 10px 3px 10px;
}
/** 規約 end **/



/*エントリー*/

.entryhako {
	border:#FF0000 1px solid;
	padding:10px 0 10px 0;
	border-radius:5px;
}
.entrytxt {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 1.2rem;
}
h3 {
    color: #000;
    margin-bottom: 1rem;
}
.webentbox {
	background-color:#fff;
	border:1px solid #FF0000;
	border-radius:5px;
	padding:20px 15px 20px 15px;
}
.entbtn {
	background-color:#F00;
	width:100%;
	color:#fff;
	font-size:120%;
	text-align:center;
	margin:0 auto 15px;
	padding:10px;
	border-radius:3px;
}
.chuibox {
	background-color:#eaeaea;
	
	border-radius:5px;
	padding:20px 15px 20px 15px;
}


.material-icons {
  vertical-align: bottom;
}

a:hover .entbtn {
  background: #ff84ca;
  text-decoration: none !important;
}

.webentbox a:link  {
  background: #ff84ca;
  text-decoration: none;
}

h4 {
    background-color: #FF0004;
    color: #fff;
    padding: 3px;
    display: inline-block;
    margin-bottom: 5px;
}
.k p {
    border: 2px solid #FF0004;
    padding: 15px;
}


/*エントリーend*/



/*jksa*/
.jksabox {
    background-color: #fffcd1;
    padding: 14px;
}
@media (min-width: 768px) {
.jksabox {
    background-color: #fffcd1;
    padding: 24px;
}
}
h5 {
    
}
.ari {
    background-color: #eaeaea;
        padding: 24px;
}
/*jksa end*/

.ready {
padding-top: 150px;
    height: 50vh;
}

@media (min-width: 768px) {

}
@media (min-width: 992px) {

}

.eventbox {
    border-left: solid 10px #9ec45c;
    padding: 1.3rem;
    margin-bottom: 2rem;
    background-color: #ecf3de;
    border-radius: 5px;
}
@media (min-width: 768px) {
.eventbox {
    padding: 2.5rem;
}
}

.ev {
    font-family: 'Train One', system-ui;
    font-size: 2rem;
}
h3 {
    font-size: 1.0rem;
    font-weight: bold;
    line-height: 1.3;
}
@media (min-width: 768px) {
h3 {
    font-size: 1.5rem;
}
}
.date {
    font-size: 1.0rem;
}
@media (min-width: 768px) {
.date {
    font-size: 1.2rem;
}
}




/* ボタン共通設定 */
.btn06{
    /*矢印の基点とするためrelativeを指定*/
	position: relative;
    /*ボタンの形状*/
	text-decoration: none;
	display: inline-block;
	background:#9ec45c;
	color:#fff;
    padding: 10px 40px 10px 30px;
	border-radius:25px;
    text-align: center;
    outline: none;
    /*アニメーションの指定*/
    transition: ease .2s;
}

.btn06:hover{
	background:#555;
}

.btn06:link {
    color: #fff;
    text-decoration: none;
}
.btn06:visited {
    color: #fff;
}


/* 矢印が右に移動 */

.btnarrow1::after{
    content: '';
    /*絶対配置で矢印の位置を決める*/
	position: absolute;
    top:42%;
    right: 13px;
    /*矢印の形状*/
    width: 5px;
    height: 5px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    /*アニメーションの指定*/
    transition: all .3s;
}

/*hoverした際の移動*/
.btnarrow1:hover::after{
    right: 11px;
}

a.btn_05 {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 100%;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border-radius: 0.3rem;
	border-bottom: 7px solid #0686b2;
	background: #27acd9;
	color: #fff;
}
a.btn_05:hover {
	margin-top: 6px;
	border-bottom: 1px solid #0686b2;
	color: #fff;
}

@media (min-width: 768px) {
a.btn_05 {

	width: 50%;

}
}


h5 {
    background-color: #53c5bc;
    padding: 0.3rem;
    font-weight: bold;
    border-radius: 5px;

}



.tablecolor table td > table {
    border: 1px solid #000;
}

.tablecolor table td > table th,
.tablecolor table td > table td {
    border: 1px solid #000;
}
